<div class="tech-btm">
	<h4>Mail Bültenine Kaydolun</h4>
	<p>Teknoloji, yazılım ve diğer bloglarımızı mail aile alın.</p>
	<form action="/Newsletter/SubscribeMail" method="post">
		<input type="email" placeholder="Email" Name="Mail" required="">
		<input type="submit" value="Kaydol">
	</form>
</div>